body .container {
    margin: 0;
    max-width: 100%;
}

body {
    /*background: #AED6F1;*/
    background-color: #D6EAF8 !important;
}

.single-project {
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-project__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 26px;
}

.single-project__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

    .single-project__row img {
        max-width: 200px;
        margin: 0 auto;
    }

.single-project__paragraph {
    margin: 0 auto 1rem;
    color: white;
}

.single-project__about {
    /*width: 100%;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #7FB3D5;
    /*box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.2);*/
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

    .single-project__about .single-project__paragraph-head {
        font-size: 24px;
        line-height: 26px;
        margin: 0;
    }

.single-project__name {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.3);
}

.single-project__description {
    width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
}

.single-project__advertising {
    width: 100%;
    text-align: center;
}

.single-project__comments-section {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.single-project__comments-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

.single-project__single-comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin: 1rem 0;
}

.single-project__comment-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.single-project__comment-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.single-project__comment-user {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
}

.single-project__comment-date {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
}

.single-project__comment-info{
    width: 100%;
    display: flex;
    align-items: center;
}

.single-project__comment-info img{
    max-width: 80px;
    width: 100%;
    margin-right: 2rem;
}

.single-project__comment-description {
    width: auto;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
}

.single-project__rating-section{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    background-color: white;
    padding: 20px;
}

.single-project__rating-obtained {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.single-project__rate-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}