@model madeupu.API.Models.ProjectViewModel
<link rel="stylesheet" type="text/css" href="~/css/ProjectStyles/ProjectCreateStyles.css" />

<div class="project-create__fields">

    @*Project's name*@
    <div class="project-create__fields-row-name">
        <div class="form-group project-create__field">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="project-create__fields-row-name">
        <div class="form-group project-create__field">
            <label asp-for="ProjectCategoryId" class="control-label"></label>
            <select asp-for="ProjectCategoryId" asp-items="Model.ProjectCategories" class="form-control"></select>
            <span asp-validation-for="ProjectCategoryId" class="text-danger"></span>
        </div>
    </div>

    @*website and address*@
    <div class="project-create__fields-row">
        <div class="form-group project-create__field">
            <label asp-for="Website" class="control-label"></label>
            <input asp-for="Website" class="form-control" />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
        <div class="form-group project-create__field">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        @*<p>@string.Format("{0:dd/MM/yyyy}", DateTime.Now)  </p>*@
    </div>

    @*Start date and  location*@
    <div class="project-create__fields-row-column">
        <div class="form-group project-create__field">
            <label class="control-label">Vídeo de youtube</label>
            <input asp-for="video" class="form-control" />
            <span asp-validation-for="video" class="text-danger"></span>
        </div>
        <p>*Consejo: adjunta una url de youtube que sea de formato regular. Ejemplo: https://www.youtube.com/watch?v=lgtTY_9t1qE </p>
        @*Start date*@
        <div class="form-group project-create__field">
            <label asp-for="BeginAt" class="control-label"></label>
            <input asp-for="BeginAt" class="form-control" type="date" value="@string.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
            <span asp-validation-for="BeginAt" class="text-danger"></span>
        </div>
        <div class="form-group project-create__field">
            <label asp-for="CityId" class="control-label"></label>
            <select asp-for="CityId" asp-items="Model.Cities" class="form-control"></select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
    </div>

    @*Description*@
    <div class="project-create__fields-row-description">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control project-create__textarea"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

</div>
