@model madeupu.API.Models.CommentViewModel

@{
    ViewData["Title"] = "AddComment";
}

<link rel="stylesheet" type="text/css" href="~/css/ProjectStyles/ProjectCreateStyles.css" />

<h2>Publicar un comentario</h2>

<form asp-action="AddComment" class="comment-intern">
    <input type="hidden" asp-for="ProjectId" />
    <div class="form-group comment-intern__box">
        <div class="single-project__comment-inner">
            <label asp-for="Message" class="control-label"></label>
            <textarea asp-for="Message" class="form-control single-project__textarea"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        <input type="submit" value="Publicar" class="btn btn-primary" />
    </div>
</form>