@model madeupu.API.Models.ProjectPhotoViewModel

@{
    ViewData["Title"] = "AddProjectImage";
}

<h2>Adicionar</h2>

<h4>Foto de proyecto</h4>
<hr />

<div class="proyect-add-foto">
    <div class="proyect-add-foto__content">
        <form asp-action="AddProjectImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}