@model madeupu.API.Models.ProjectViewModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" type="text/css" href="~/css/ProjectStyles/ProjectCreateStyles.css" />

<h1>Editar</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_Project" />

            <div class="form-group project-edit-images-buttons">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="AddProjectImage" asp-route-id="@Model.Id" class="btn btn-info">Agregar Foto</a>
            </div>
        </form>
    </div>
</div>

<div class="project-edit-images-container">
    <h4>Colección de imagenes del proyecto</h4>
    <div class="project-edit-images-list">
        <table class="project-edit-table" id="MyTable">
            <thead>
                <tr>
                    <th style="display:none;">
                        @Html.DisplayNameFor(model => model.ProjectPhotos.FirstOrDefault().ImageFullPath)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.ProjectPhotos)
            {
                <div class="project-image__item">
                    <img src="@item.ImageFullPath" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                </div>
            }

        </table>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });

            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Projects/DeleteImageProject/', false);
        });
    </script>
}